
:root {

    --bg-color: #faf9f6;
    --text-color: #15222e;

}

:root {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

body {

    background-color: var(--bg-color);
    color: var(--text-color);

    display: flex;

    justify-content: center;

}

main {

    width: min(100% - 3rem, 1280px);

}

button {

    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 1.5rem;

    border: 2px var(--text-color) solid;
    border-radius: 10px;

    filter: drop-shadow(3px 3px 2px black);

    transition: background-color 100ms ease, scale 100ms ease-in-out, border 150ms linear;

}

select {

    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 1.5rem;

}

.sudokuWrapper {

    height: 46rem;
    aspect-ratio: 1;

    margin: 2rem auto;

    /* background-color: aqua; */

}

.sudokuGrid {

    height: 100%;
    aspect-ratio: 1;

    display: grid;

    grid-template-columns: repeat(9, 1fr);

    border: 1px black solid;

    filter: drop-shadow(2px 2px 2px black);

}

.sudokuField {

    position: relative;

    font-size: 3em;
    font-weight: 300;

    background-color: var(--bg-color);

    border-right: 1px black solid;
    border-bottom: 1px black solid;

}

.sudokuFieldVerticalBorder {
    border-left: 1px black solid;
}

.sudokuFieldHorizontalBorder {
    border-top: 1px black solid;
}

.sudokuField:hover {

    filter: brightness(0.9);

}

.sudokuField span {

    position: absolute;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    cursor: default;
    user-select: none;

}

.animateField {
    animation: 1s ease-in-out 0ms wave;
}

.fixedField {

    font-weight: 500;

    color: var(--text-color);

}

.numberPicker {

    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
    justify-content: center;

    margin-bottom: 2rem;

}

.numberButton {

    height: 4.5rem;
    aspect-ratio: 1;

    padding: 0;

    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 2.75em;

    border: 2px var(--text-color) solid;
    border-radius: 10px;

    filter: drop-shadow(3px 3px 2px black);

    transition: background-color 100ms ease, scale 100ms ease-in-out, border 150ms linear;

}

.numberButton:hover {

    background-color: #27415a;
    scale: 1.1;

}

.numberButtonSelected {

    border: 5px #c01a1a solid;

    scale: 1.1;

}

#options {

    display: flex;

    justify-content: center;
    gap: 1rem;

    font-size: 1.5rem;
    color: var(--text-color);

}

@keyframes wave {
    0% {translate: 0px 0px}
    50% {translate: 0px -50px}
}

@media (prefers-color-scheme: dark) {

    body {

        background-color: #213549;
        color: var(--bg-color);

    }

    .sudokuField {
        background-color: var(--text-color);
        border-color: var(--bg-color)
    }

    .sudokuField span {
        color: var(--bg-color);
    }

    .fixedField {
        color: var(--bg-color);
    }

    #options {
        color: var(--bg-color);
    }

}

@media (max-width: 800px) {

    .sudokuWrapper {

        height: 32rem;

        font-size: 1rem;

    }

}

@media (max-width: 600px) {

    .sudokuWrapper {

        height: 80vw;

        font-size: 2vmin;

    }

}