
:root {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-weight: 400;

    /* color-scheme: light dark; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

body {

    background-color: #faf9f6;
    color: #15222e;

    display: flex;

    justify-content: center;

}

main {

    width: min(100% - 3rem, 1280px);

}

.sudokuWrapper {

    height: 600px;
    width: 600px;

    margin: 2rem auto;

    /* background-color: aqua; */

}

.sudokuGrid {

    height: 100%;
    aspect-ratio: 1;

    display: grid;

    grid-template-columns: repeat(9, 1fr);

    border: 1px black solid;

}

.sudokuField {

    position: relative;

    font-size: 2em;
    font-weight: 300;

    border-right: 1px black solid;
    border-bottom: 1px black solid;

}

.sudokuFieldVerticalBorder {
    border-left: 1px black solid;
}

.sudokuFieldHorizontalBorder {
    border-top: 1px black solid;
}

.sudokuField:hover {

    background-color: lightgray;

}

.sudokuField span {

    position: absolute;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    cursor: default;
    user-select: none;

}

.fixedField {

    font-weight: 500;

}

.numberPicker {

    display: flex;

    gap: 2rem;
    justify-content: center;

}

.numberButton {

    height: 3rem;
    aspect-ratio: 1;

    padding: 0;

    font-size: 1.5em;

}

.numberButtonSelected {

    border: 2px red solid;
    border-radius: 5px;

}