
:root {

    /* https://colorhunt.co/palette/a82323feffd3bcd9a26d9e51 */

    --bg-color: #FEFFD3;
    --sudoku-bg-color: #BCD9A2;
    --text-color: #6D9E51;

    --the-shadow: drop-shadow(3px 3px 2px #575757);

}

:root {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

body {

    background-color: var(--bg-color);
    color: var(--text-color);

    display: flex;

    justify-content: center;

}

main {

    width: min(100% - 1rem, 800px);

}

button {

    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 1.5rem;

    border: 2px var(--text-color) solid;
    border-radius: 10px;

    filter: var(--the-shadow);

    transition: background-color 100ms ease, scale 100ms ease-in-out, border 150ms linear;

}

select {

    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: 1.5rem;

}

.sudokuWrapper {

    width: 100%;
    aspect-ratio: 1;

    margin: 2rem auto;

    /* background-color: aqua; */

}

.sudokuGrid {

    width: 100%;
    aspect-ratio: 1;

    display: grid;

    grid-template-columns: repeat(9, 1fr);

    border: 1px black solid;

    filter: var(--the-shadow);

}

.sudokuField {

    position: relative;

    font-size: 3em;
    font-weight: 300;

    background-color: var(--sudoku-bg-color);

    border-right: 1px black solid;
    border-bottom: 1px black solid;

}

.sudokuFieldVerticalBorder {
    border-left: 1px black solid;
}

.sudokuFieldHorizontalBorder {
    border-top: 1px black solid;
}

.sudokuField:hover {

    filter: brightness(0.9);

}

.sudokuField.selected {

    filter: brightness(0.9);

}

.sudokuField.painted {

    color: #f49600;
    filter: brightness(0.95);

}

.sudokuField span {

    position: absolute;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    cursor: default;
    user-select: none;

}

.animateField {
    animation: 1s ease-in-out 0ms wave;
}

.fixedField {

    font-weight: 700;

    color: var(--text-color);

}

.numberPicker {

    display: grid;
    
    grid-template-columns: repeat(5, 1fr);

    gap: .5em;
    
    justify-items: center;

    margin-bottom: 2rem;

}

.numberButton {

    width: 3.5em;
    aspect-ratio: 1;

    padding: 0;

    background-color: var(--sudoku-bg-color);
    color: var(--text-color);
    /* font-size: 2em; */

    border: 2px var(--text-color) solid;
    border-radius: 10px;

    filter: var(--the-shadow);

    transition: filter 100ms ease, scale 100ms ease-in-out, border 150ms linear;

}

.numberButton:hover {

    filter: var(--the-shadow) brightness(0.9);
    scale: 1.05;

}

.numberButton>span {
    
    font-size: 2.5em;

}

.numberButtonSelected {

    border: 2px #A82323 solid;

    scale: 1.05;

}

#options {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 1rem;

    font-size: 1.5rem;
    color: var(--text-color);

}

@keyframes wave {
    0% {translate: 0px 0px}
    50% {translate: 0px -50px}
}

/* @media (prefers-color-scheme: dark) {

    body {

        background-color: #6D9E51;
        color: var(--bg-color);

    }

    .sudokuField {

        background-color: var(--text-color);
        border-color: #6D9E51;

    }

    .sudokuField span {

        color: #6D9E51;

    }

    .fixedField {

        color: var(--bg-color);

    }

    #options {

        color: var(--bg-color);

    }

} */

@media (max-width: 800px) {

    .sudokuWrapper {

        font-size: 1rem;

    }

    .numberButton {

        width: 3em;

    }

    .numberButton>span {
    
        font-size: 2em;
        
    }

    #options {

        font-size: 1rem;

    }

    select {

        font-size: 1rem;

    }

}

@media (max-width: 600px) {

    .sudokuWrapper {

        font-size: 2vmin;

    }

    .numberButton {

        width: 2em;

    }

    .numberButton>span {
    
        font-size: 1.5em;
        
    }

    #options {

        font-size: 0.75rem;

    }

    select {

        font-size: 0.75rem;

    }

}